body {
    background-color: #424242;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4f4fb8;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-top: 0;
    font-size: 2em;
}

header p {
    font-size: 1.2em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #242424;
}

section h2 {
    margin-top: 0;
    font-size: 1.5em;
}

section p {
    font-size: 1em;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

section ul li a {
    color: #ffffff;
    text-decoration: none;
}

section ul li a:hover {
    text-decoration: underline;
}

.contact {
    text-align: center;
}
